<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>XmlGetting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InjectionServlet</display-name>
    <servlet-name>InjectionServlet</servlet-name>
    <servlet-class>com.iwinner.ws.servlet.InjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectionServlet</servlet-name>
    <url-pattern>/inject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InjectResponseServlet</display-name>
    <servlet-name>InjectResponseServlet</servlet-name>
    <servlet-class>com.iwinner.ws.servlet.InjectResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InjectResponseServlet</servlet-name>
    <url-pattern>/injectResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpInjectionServlet</display-name>
    <servlet-name>HttpInjectionServlet</servlet-name>
    <servlet-class>com.iwinner.ws.servlet.HttpInjectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpInjectionServlet</servlet-name>
    <url-pattern>/httpSer</url-pattern>
  </servlet-mapping>
</web-app>